# Tutorial 8
## Special functions

In [4]:
# Define new Book class and initialise with a title
class Book:
    def __init__(self, title, author):
        self.title = title
        self.author = author

# Create new objects of the class Book with a certain title
book1 = Book("Pride and Prejudice", "Jane Austin")
book2 = Book("Pride and Prejudice", "Jane Austin")

In [5]:
book1 == book2

False

In [25]:
# Define new Book class and initialise with a title
class Book:
    def __init__(self, title, author):
        self.title = title
        self.author = author
    
    def __eq__(self, value):
        if not isinstance(value, Book):
            raise ValueError("Cannot compare book to non-book object")
        
        return (self.title == value.title and self.author == value.author)
    
book1 = Book("Pride and Prejudice", "Jane Austin")
book2 = Book("Pride and Prejudice", "Jane Austin")
book3 = Book("The Catcher in the Rye", "J. D. Salinger")

In [20]:
print(book1 == book2)
print(book1 == book3)
print(book2 == book3)
print(book2 == book1)

True
False
False
True

In [21]:
print(book1 == "The Great Gatsby")

ValueError: Cannot compare book to non-book object

In [26]:
book1 < book3

TypeError: '<' not supported between instances of 'Book' and 'Book'

In [33]:
# Define new Book class and initialise with a title
class Book:
    def __init__(self, title, author, year):
        self.title = title
        self.author = author
        self.year = year
    
    def __eq__(self, value):
        if not isinstance(value, Book):
            raise ValueError("Cannot compare book to non-book object")
        
        return (self.title == value.title and self.author == value.author)
    
    def __lt__(self, value):
        if not isinstance(value, Book):
            raise ValueError("Cannot compare book to non-book object")
        
        return (self.year < value.year)
    
book1 = Book("Pride and Prejudice", "Jane Austin", 1813)
book2 = Book("Pride and Prejudice", "Jane Austin", 1813)
book3 = Book("The Catcher in the Rye", "J. D. Salinger", 1951)
book4 = Book("To Kill a Mockingbird", "Harper Lee", 1960)

In [36]:
print(book1 < book3)

True

In [41]:
books = [book4, book2, book3, book1]
print([book.title for book in books])
books.sort()
print([book.title for book in books])

['To Kill a Mockingbird', 'Pride and Prejudice', 'The Catcher in the Rye', 'Pride and Prejudice']
['Pride and Prejudice', 'Pride and Prejudice', 'The Catcher in the Rye', 'To Kill a Mockingbird']

We can use the special method *__setattr__* for example to check if a certain attribute satisfies some requirements before we attribute it to the object. Here we can check if the publication year is an int before we set this attribute in the object:

In [45]:
# Define new Book class and initialise with a title
class Book:
    def __init__(self, title, author, year):
        self.title = title
        self.author = author
        self.year = year
    
    def __setattr__(self, name, value):
        if name == "year":
            if type(value) is not int:
                raise ValueError("Year attribute must be of type int.")
            return super().__setattr__(name, value)

    
book1 = Book("Pride and Prejudice", "Jane Austin", 1813)

In [46]:
book1.year = 1813.0

ValueError: Year attribute must be of type int.

In [47]:
book1.year = 1813