# Introduction to Python

    
Python language is very exhaustive language with numerous libraries supporting a wide variety of functionalities. We will cover a few of them related to data analysis and plotting in this module. This lecture presents some basic concepts of pythom to get you started. 


This lecture covers the basic topics in python:

## Basic Data types

The basic python datatypes are: 
- <strong> Numbers </strong>
    e.g. 7, 6798, 3.14, 0.008
- <strong> Strings </strong>
    e.g. "Python3", 'Cambridge', "Anglia Ruskin University"

Numbers can perform basic arithematic and can be again of two basic types:
- <strong> Integers </strong>
e.g. 3, 9688, 103847

- <strong> Floats </strong> with a decimal point. 
e.g. 0.000679, 2038.47

In [1]:
1

1

In [2]:
- 9.4

-9.4

In [3]:
'single quotes'

'single quotes'

In [4]:
"double quotes"

'double quotes'

In [5]:
" wrap lot's of other quotes"

" wrap lot's of other quotes"

## Operators

There are different types of operators. 

### Arithematic operations 

Python can be used to perform the arithematic operations on the number data type. 
Following are the sample code for arithematic operations.

In [6]:
8 + 11

19

In [7]:
30 * 45

1350

In [8]:
56 ** 3

175616

In [9]:
83456437/324

257581.59567901236

In [10]:
83456437 % 324

193

In [11]:
3 + 4 * 3 + 45

60

In [12]:
(3 + 4) * (3 + 45)

336

### Concatenation/Repetition Operation

The string data types can be concatenated in python with a "+" operator. Repetition can be performed with "*" operation.

In [13]:
"John "+"Doe"

'John Doe'

In [14]:
"A"*3

'AAA'

In [15]:
"A+3"

'A+3'

### Comparison Operators 

 
Python can work with the standard arithematic comparison operators as shown below. 
The main operators are:
- greater than ">"
- less than "<"
- equals "=="
- greater than or equal to ">="
- less than or equal to "<="

In [16]:
# Greater than operator
34 > 54.5

False

In [17]:
# Less than operator
45 < 3356

True

In [18]:
# Can you compare strings - compares only the first characters.
"hot" > "cold"

True

In [19]:
# Is python string case sensitive ? 
"bye" != "BYE"

True

In [20]:
# Found strings that are equal.
"bye" == "bye"

True

In [21]:
# Greater than or equal to.
11 >= 11

True

In [22]:
# Less than or equal to.. 
111 <= 12

False

### Logic Operators

Used to combine two or more conditions. The common logic operators are: 
- "and" 
- "or"
- "not"

In [23]:
# Example and operator
(112 > 2) and (212 < 3)

False

In [24]:
# Example or operator
(211 > 2) or (2 < 123)

True

In [25]:
# multiple conditions combined. 
(112 >= 223.56) or (211 <= 3) or (4 == 4)

True

In [26]:
# multiple conditions combined. 
(112 >= 223.56) and not(4 == 4)

False

In [27]:
# More not examples
print(not False) # Prints out True
print((not False) == (False)) # Prints out False

True
False

## Variables

Variables are used to store values of the data. There is no data type specification needed for the python variable.

In [28]:
#Variables cannot start with numbers or special characters and cannot contain spaces in between.
var_to_use = 2

In [29]:
var1 = 23
var2 = 3.6

var1 * var2

82.8

In [30]:
var1/var2

6.388888888888888

In [31]:
city2 = "Cambridge"
my_school = "Anglia Ruskin University"
city2

'Cambridge'

## Print statement

Python code needs to use the print statement to print anything out of a python script. Note that the "out[]" keyword is not shown on the printed statements.

Here are some basic argument specifiers you should know:

%s - String (or any object with a string representation, like numbers)

%d - Integers

%f - Floating point numbers

%.<number of digits>f - Floating point numbers with a fixed amount of digits to the right of the dot.

%x/%X - Integers in hex representation (lowercase/uppercase)

In [32]:
print(3/5.6)

0.5357142857142857

In [33]:
print("Hello All!")

Hello All!

In [34]:
# Concatenate strings in print()
first_name="John"
last_name="Doe"
print(first_name + last_name)

JohnDoe

In [35]:
# Concatenate datatypes including variables in print()
name = "John Doe"
print("Hello "+name)

Hello John Doe

In [36]:
# Print variables using the format() method
name = "John Doe"
print("Hello {}".format (name))

Hello John Doe

In [37]:
# Print mutliple datatype variable with format change to str() using simple concatenation
name = 'John'
age = 40
print("I am " + name + " and I am " + str(age) + " years old")

I am John and I am 40 years old

In [38]:
# Print mutliple variables using the "%" method 
name = 'John'
age = 40
print("I am %s and I am %d years old" % (name, age))

I am John and I am 40 years old

In [39]:
# Print mutliple datatype variables using the format() method
name = 'John'
age = 40
print("I am {} and I am {} years old".format(name,age))

I am John and I am 40 years old

In [40]:
# Print mutliple variables using the format() method with out worrying about the order of occurence of the variable.
name = 'John'
age = 40
print("I am {n} and I am {a} years old".format(a=age, n=name))

I am John and I am 40 years old

In [41]:
# Print mutliple variables using the f-string method with out worrying about the order of occurence of the variable.
name = 'John'
age = 40
print(f"I am {name} and I am {age} years old")

I am John and I am 40 years old

In [42]:
# Different forms of print
pi_value=3.14
print("The value of pi is %s" % (pi_value))
print("The value of pi is {}" .format(pi_value))
print(f"The value of pi is {pi_value}")

The value of pi is 3.14
The value of pi is 3.14
The value of pi is 3.14

<html> <h3 style="font-style:italic; color:#FF0000;"> Try Out: Use different forms of print statement and see how you can print any data type like integers, floats, strings.</h3> </html>

<html> <h3 style="font-style:italic; color:#FF0000;"> Try Out: Print pi_value as an integer, floating point and string. Notice the difference.</h3> </html>

<html> <h3 style="font-style:italic; color:#FF0000;"> Try Out: Write a format string which prints out the data using the following syntax: Hello John Doe. Your current balance is $53.44. Try out all the print options you have learned.</h3> </html>